<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
      <div class="box uno"></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box dos"></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box tres"></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box cuatro">
        <div class="col col-90 col-offset-33">
          <button ng-click="irlogin()" class="button button-royal mod_log pos_ing"><i>Ingresar</i></button>
        </div>
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
