<ion-view view-title="Chat" class="login">
    <ion-content class="marg paddi-s" style="height: 80%;">

       <ion-refresher class="marg"
    pulling-text="Pull to refresh..."
    on-refresh="actualiza()">
          </ion-refresher>
      <!-- <div class="card marg trans">
        <div class="item item-divider trans out_bord">
          Respuesta
        </div>
        <div class="item item-text-wrap trans">
            {{respuesta.mensaje }}
        </div>
      </div>
        <div class="list card trans">
            <div class="item-input trans">
                <textarea class="trans" ng-model="nota.mensaje" placeholder="Mensaje">
                </textarea>º
            </div>
        </div> -->
        <label style="font-size: 17px; color: #444; position: relative; top: -1%; left: 20px; font-variant: small-caps;">Las conversaciones son totalmente confidenciales</label>
        <div class="row" id="mensajes_historial">
          <div class="col col-80 col-offset-10">
            <div class="paddi-s" ng-repeat="mensaje in mensajes" ng-class="{'pregunta' : 0 == mensaje.respuesta, 'respuesta' : 1 == mensaje.respuesta }">
              <div class="col col-80 col-offset-20 paddi-s">
                <p class="fuente overf" ng-class="{'text-black' : 0 == mensaje.respuesta}" ng-bind-html="mensaje.mensaje"></p>
              </div>
              <!-- <div class="col col-25" style="float: left; margin-left: -30%; margin-top: -18%;">
                <img src="../img/servi.png" style="width:75%;"/>
              </div> -->
            </div>
          </div>
        </div>
    </ion-content>
    <div class="row trans item-content" style="height:100%;     position: absolute;     bottom: -100%;    margin-bottom: 100px;">
      <div class="col col-100">
          <input type="text" ng-model="nota.mensaje" placeholder="Mensaje ..." style="width:80%; display:inline; padding:0; margin:0; height:50px !important; margin-left: -1%;">
          <button class="button button-royal mod_log" style=" width:23%; height:50px !important; border-radius:0; display:inline; padding:0; margin:0; margin-left: -1%;" ng-click="enviar()">Enviar</button>
      </div>
    </div>
</ion-view>
