<ion-view view-title="Mi biblioteca" class="login">
  <ion-nav-buttons side="right">
		<a class="button button-clear icon ion-ios-albums" href="#/tab/guardados"></a>
	</ion-nav-buttons>
  <ion-content class="trans marg">

    <ion-refresher
        pulling-text="Actualizando..."
        on-refresh="CargarNuevosPost()">
    </ion-refresher>
      <div class="bar item-input-inset bar-light trans">
          <label class="item-input-wrapper trans">
            <i class="icon ion-search placeholder-icon"></i>
              <input class="out_bord" type="search" ng-model="busqueda" placeholder="Buscar" />
          </label>
      </div>
      <div class="col col-50 float-on">
        <ion-list class="trans-less">
           <ion-item class="item-icon-right item-text-wrap trans-less bord-rd" ng-repeat="articulo in articulos | filter:  busqueda" ng-class="{'div-off' : 3 == $index%4, 'div-on' : 1 == $index%4 , 'color1' : 1 == articulo.categoria , 'color2' : 2 == articulo.categoria }" ng-if="$index%2 != 0" type="item-text-wrap" href="#/tab/articulos/{{articulo.id}}">
             <img ng-src=" http://birdev.mx/message_app/public/images/{{articulo.images[0].ruta.split('/').pop()}}" style="height:200px; width:100%">
             <div class="contenido">
               <h2 class="fuente_tit">{{articulo.title}}</h2>
               <br>
               <p class="trans fuente" ng-bind-html="articulo.description | limitTo : 100"></p>
               <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
             </div>
           </ion-item>
         </ion-list>
      </div>
      <div class="col col-50 float-off">
        <ion-list class="trans-less">
           <ion-item class="item-icon-right item-text-wrap trans-less bord-rd" ng-repeat="articulo in articulos | filter:  busqueda" ng-class="{'divs-off' : 0 == $index%4, 'divs-on' : 0 != $index%4}" ng-if="$index%2 == 0" type="item-text-wrap" href="#/tab/articulos/{{articulo.id}}">
              <img ng-src=" http://birdev.mx/message_app/public/images/{{articulo.images[0].ruta.split('/').pop()}}" style="height:200px; width:100%">
             <div class=" contenido">
               <h2 class="fuente_tit">{{articulo.title}}</h2>
               <br>
               <p class="trans fuente" ng-bind-html="articulo.description | limitTo : 100"></p>
               <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
             </div>
           </ion-item>
         </ion-list>
      </div>
  </ion-content>
</ion-view>
