<ion-view view-title="Calendario" class="login">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-gear-a" ng-click="configuracion()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header padding box trans marg">
		<onezone-datepicker datepicker-object="onezoneDatepicker" class="marg"></onezone-datepicker>
		<div class="card card_mod">
			<div class="col col-90 col-offset-10">
				<div class="item trans text-white without">
					<b>Señalética</b>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color rojo"></div>
					<h2 class="text-white"><b class="ita">Rojo</b></h2>
					<p class="text-white">- Es el fin del ciclo menstrual, lo que sucede es que se "desprende"
						el endometrio (la capa más interna del útero) la cual es rica en sangre y de ahí el nombre
						de sangrado "menstrual" (por ser cada mes).</p>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color naranja"></div>
					<h2 class="text-white"><b class="ita">Anaranjado</b></h2>
					<p class="text-white">Es el tiempo de mayor riesgo de embarazo, ya que es cuando el endometrio
						está en plenitud y coincide con la ovulación (expulsión de la célula “sexual” femenina por
						parte del ovario), generalmente es a la mitad del ciclo, pero no es exacto, puede ocurrir en
						cualquier momento</p>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color amarillo"></div>
					<h2 class="text-white"><b class="ita">Amarillo</b></h2>
					<p class="text-white">Despúes del sangrado, comienza la formación de un nuevo endometrio,
						el cual requiere cerca de 10 días para alcanzar su madurez (coincide con el periodo de mayor
						fertilidad) y después de éste, comienza a degenerarse hasta “desprenderse”.</p>
				</div>
			</div>
		</div>

	</ion-content>

	<!-- <button  style="font-weight:600;" class=" button button-positive  button-block " ng-click="calcularCalendario()">Calcular</button> -->

</ion-view>
