<ion-view title="Configuraci&oacute;n" id="page9" class="login">
    <ion-content class="trans marg">
      <div class="row">
        <div class="col col-50">
          <img src="img/config.png" class="center logo_pos_log">
        </div>
  		</div>
      <div class="col col-90 col-offset-33" style="margin-top:15%;">
        <!-- <a ng-click="cambiar()" id="login-button3" class="button button-positive mod_log">Cambiar perfil</a>
        <br> -->
        <button class="button button-positive mod_log" ng-click="cerrar()" >Cerrar Sesi&oacute;n</button>
      </div>
    </ion-content>
</ion-view>


<!-- <ion-view view-title="Configuración">
    <ion-content>
      <div class="card marg trans">
        <div class="item item-divider trans out_bord">
          Cerrar Sesión
        </div>
        <div class="item item-text-wrap trans">
            <button class="button button-positive icon-left ion-android-exit" ng-click="cerrar()" >Salir</button>
        </div>
      </div>
    </ion-content>
</ion-view> -->
