/* Empty. Add your own CSS if you like */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pos_ing
{
  margin-top: 155% !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding-top: 50px;
    padding-bottom: 50px;*/
}

.color{
  height: 50px;
  width: 50px;

  border-radius: 25px;
  float: left;
  margin-right: 20px;
}
.rojo{
  background-color: #DA0203;
}

.amarillo{
  color: #FBD504;
  background-color: #FBD504;
}
.naranja{
color: #ff9900;
background-color: #ff9900;
}
/*.bar .buttons span
{
    display: none;
}

.show
{
  display: block;
}*/
.item-content
{
  padding: 0 !important;
}

.item-radio .item-content
{
    padding: 16px 49px 16px 16px !important;
    background-color: transparent;
}

.item-content.activated
{
  background-color: transparent !important;
  border-color: transparent;
}

.uno
{
  background: url('../img/tutorial/Tutorial1.jpg') no-repeat center center fixed;
  /*background-size: cover;
  background-position: center center;*/

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dos
{
  background-image: url('../img/tutorial/Tutorial2.jpg');
  background-size: cover;
  background-position: center center;
}

.tres
{
  background-image: url('../img/tutorial/Tutorial3.jpg');
  background-size: cover;
  background-position: center center;
}

.cuatro
{

  background-image: url('../img/tutorial/Tutorial4.jpg');
  background-size: cover;
  background-position: center center;
}

.cinco
{

  background-image: url('../img/tutorial/Tutorial5.jpg');
  background-size: cover;
  background-position: center center;
}

.seis
{

  background-image: url('../img/tutorial/Tutorial6.jpg');
  background-size: cover;
  background-position: center center;
}

.inicio
{

  background-image: url('../img/back.png');
  background-size: cover;
  background-position: center center;
}

.login
{
  background-image: url('../img/back_blue.png') !important;
  background-size: cover;
  background-position: center center;
}

.item p
{
  color:white;
  font-style: italic;
  white-space: inherit !important;
}

.card_mod
{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('../img/back_low.png') !important;
  background-size: cover;
  background-position: center center;
}

.tabs-top > .tabs
{
  top:initial;
  padding-top: 5px;
}

.tabs-striped .tabs
{
  background-color: #192a3b;
}

.scroll
{
  height: auto;
}

.overflow-scroll .scroll
{
  height: 100%;
}

.has-header
{
    top: 0;
}

.tabs-striped .tabs
{
  border: 0;
}

.out_bord
{
  border:0 !important;
}

.paddi-s
{
  padding: 0 !important;
}

.card
{
  margin: 0 !important;
}

.marg
{
  margin-top:60px;
}

.padding
{
  margin-top: 5px;
  padding: 0;
}

.bar.bar-stable
{
  background-color: transparent !important;
  border: none !important;
  background-image: none !important;
  margin-top: 15px;
}

.input-label
{
  font-style: italic;
}

input::-webkit-input-placeholder {
   color: black;
   font-style: italic;
}

input:-moz-placeholder { /* Firefox 18- */
   color: black;
   font-style: italic;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   font-style: italic;
}

input:-ms-input-placeholder {
   color: black;
   font-style: italic;
}

input[type="search"]
{
    border: none;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
}

.bar.bar-stable .title
{
    color: #444;
    font-style: italic;
    font-size: 35px;
}

.bar.bar-light
{
  margin-top: 10px;
  background-color: transparent;
}

.placeholder-icon {
    color: black;
}

.item-complex .item-content
{
  background-color: transparent;
}

ion-tabs.tabs-striped.tabs-color-active-royal .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-royal .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-royal .tab-item.activated
{
    border-bottom: 0;
    border-top: 0;
    margin-top: 1px;
}

.tabs
{
  background-color: #192a3b;
}

.trans
{
  background-color: transparent !important;
}

.trans-less
{
  background-color: transparent;
}

ion-tabs.tabs-color-active-royal .tab-item
{
    color: white;
}

ion-tabs.tabs-color-active-royal .tab-item.tab-item-active
{
  color: white;
}

.tabs .tab-item .icon.biblio
{
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/biblioteca.png');
  background-size:contain;
}

.tabs .tab-item .icon.calendar
{
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/calendario.png');
  background-size:contain;
}

.tabs .tab-item .icon.chat
{
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/chat.png');
  background-size:contain;
}

.without
{
    border-width: 0;
}


.item
{
  color:black;
  border-color:black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  margin: -5px;
}

.item-input
{
  color:black;
  /*border-color:transparent;*/
}

.item-select select
{
    top: 30px;
}

.bord
{
  color:black;
  border-color:black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
}

.bord-rd
{
    border-radius: 10px;
    overflow: hidden !important;
    margin-bottom: 10px !important;
}

.bord-rds
{
    border: 0px;
    overflow: hidden !important;
    margin-bottom: 0 !important;
}

.pregunta
{
  background-color: #e5e5e5;
  margin-bottom: 12px !important;
  border-radius: 0 10px 10px 10px !important;
  padding: 3px !important;
}

.respuesta
{
  background-color: #00cfff;
  margin-bottom: 12px !important;
  border-radius: 10px 10px 0px 10px !important;
  padding: 3px !important;
  color: white;
}

.overf
{
    overflow: visible !important;
    white-space: inherit !important;
    margin-bottom: 3px;
}

.div-off
{
  width: 100%;
  height: 400px;
  background-color: #ff8400;
  border: 0;
  margin: 0;
}

.div-on
{
  width: 100%;
  height: 200px;
  background-color: #4dbce8;
  border: 0;
  margin: 0;
}


.divs-off
{
  width: 100%;
  height: 400px;
  background-color: #fd0061;
  border: 0;
  margin: 0;
}

.divs-on
{
  width: 100%;
  height: 200px;
  background-color: #dfc61b;
  color: black !important;
  border: 0;
  margin: 0;
}

.div-on img
{
    display: none;
}

.divs-on img
{
    display: none;
}

.float-on
{
  float:right;
  padding: 0;
  width: 48% !important;
  margin-right: 1%;
}

.float-off
{
  float:left;
  padding: 0;
  width: 48% !important;
  margin-left: 1%;
}

.contenido
{
  margin:10px;
  font-size: 13px;
  line-height: 15px !important;
}

.fuente
{
  font-size: 12px !important;
  padding-left: 5px;
  padding-right: 5px;
}

.fuente_tit
{
  font-size: 15px !important;
  font-weight: bolder !important;
  color: white;
}

.input
{
    padding: 0;
}

.togg
{
  color:black;
  height: 47px;
}

.text-white
{
  color:white;
}

.text-black
{
  color:black !important;
}

.text-yellow
{
  color:yellow;
}

.fond_art
{
  background-color: #fd0061;
}

.logo_pos
{
  width: 18%;
  height: auto;
}

.logo_pos_log
{
  width: 100%;
  height: auto;
}

.padd
{
  margin-top: 15%;
  margin-left: 7%;
}

.mod
{
  background-color: #65177f !important;
  width: 130px;
  height: 40px !important;
  margin-top: 5px;
  font-style: italic;
}

.ros-tit
{
  color:#fd0061;
  font-weight: bold;
  font-size: 17px;
}

.mod_log
{
  background-color: #fd0061 !important;
  width: 130px;
  height: 40px !important;
  margin-top: 5px;
  font-style: italic;
}

.tamano
{
  font-size: 55px;
  line-height: 65px;
}

.tamano2
{
  font-size: 35px;
}

.ita
{
  font-style: italic;
}

.box
{
  height:100%;
}

.rayas{
  color : black !important;
  background: repeating-linear-gradient(45deg, #fff, #fff 5px, red 5px, red 10px) !important;
}

.box{
height: 100vh;
}

.box h1{
  color: black;
}
.blue{
background-color: blue;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: pink;
}

.warning {
  border-color: yellow;
  color: red;
}



/* boton flotado */

.contenedor{
  width:90px;
  height:240px;
  position:absolute;
  right:0px;
  bottom:0px;
  z-index: 9999;
}

.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
span{
  transition:.5s;
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.btn{
  width:40px;
  height:40px;
  border-radius:100%;
  border:none;
  color:#FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size:28px;
  outline:none;
  position:absolute;
  right:0;
  bottom:0;
  margin-right:26px;
  transform:scale(0);
}

.btn p{

  background-color: rgba(23,3,3,0.8);
  font-size: 10px;
  font-weight: bolder;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: -106px;
  border-radius: 5px;
  width: 100px;
}
.botonF2{
  background:#2196F3;
  margin-bottom:85px;
  transition:0.5s;
}
.botonF3{
  background:#673AB7;
  margin-bottom:130px;
  transition:0.7s;
}
.botonF4{
  background:#009688;
  margin-bottom:175px;
  transition:0.9s;
}
.botonF5{
  background:#FF5722;
  margin-bottom:220px;
  transition:0.99s;
}
.animacionVer{
  transform:scale(1);
}

#map { position:absolute; top:0; bottom:0; width:100%; }

.linea{
  display: inline-flex;
}
